* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    background: #232931;
	color:#fff;
}

.menu{
    list-style: none;
    padding: .5em;
    border-right: 1px solid #fff;
}

.menu-child{
    display: inline-block;
    padding: .3em;
    float: right;
    font-size: 15px;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 4px;
}

.menu-child a{
    text-decoration: none;
}

.menu-child a:hover{
    cursor: pointer;
    text-decoration:underline;
}

h1 {
	font-family: 'Slabo 27px', serif;
	font-weight: normal;
}

.contenedor{
    margin-top: 10px;
    width: 85%;
    margin: auto;
}


/* --- Formulario --- */
.formulario {
	max-width: 500px;
	width:90%;
	margin: auto;
	margin-bottom: 30px;
}

.formulario label {
	display: block;
	margin-bottom: 10px;
}

.formulario .error {
	border: 1px solid red;
	padding: 30px;
	margin-bottom: 30px;
}

.formulario .enviado{
    border: 1px solid #1FF1E7;
	padding: 30px;
	margin-bottom: 30px;
}

.formulario input[type="text"],
.formulario input[type="file"],
.formulario textarea {
	width: 100%;
	margin-bottom: 30px;
	color: #fff;
}

.formulario input[type="text"],
.formulario textarea {
	padding: 10px;
	background: none;
	font-family: 'Slabo 27px', serif;
	border:1px solid rgba(255,255,255,.2);
}

.formulario textarea {
	min-height: 76px;
	max-height: 150px; 
	max-width: 100%;
	min-width: 100%;
}

.formulario textarea:focus {
	border:1px solid rgba(255,255,255, .5);
}

.formulario .submit{
	display: inline-block;
	text-align: center;
	color:#fff;
	padding: 15px 20px;
	border-radius: 50px;
	border:1px solid rgba(255,255,255,.2);
	background: none;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.formulario .submit:hover {
	border:1px solid rgba(255,255,255,1);
}

.input{
    border-radius: 7px;
}