body {
	font-size: 16px;
	font-family: 'Slabo 27px', serif;
	background: #232931;
	color:#fff;
}

.nav2{
    width: 100%;
    background-color: #333333;
    z-index: 2;
    transition: all 500ms ease;
    -webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 3.3em;
}


.h1{
    text-align: center;
    font-size: 40px;

}

.contenedor3 {
    padding: 1em;
	width: 90%;
	margin: auto;
}

/* --- FOTOS --- */
.fotos .contenedor3 {
    margin-top: 7%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
    margin-bottom: 9%
}

.thumb {
	width: 22%;
	margin-bottom: 1.5em;
	box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
  position:relative ;
}

.thumb a {
	display: block;
}

.thumb img {
	vertical-align: top;
	width: 100%;
}

.description{
    position: absolute;
    top: 0%;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    color: #fff;
    text-align: justify;
}

.description > p{
    margin: 20px 10px;
    text-align: center;

}

.description small{
    margin: 15% 25%;
    display: inline-flex;
    padding: 6px;
}

.description:hover {
    transition: all 1000ms ease;
    opacity: 0.9;
}

.thumb:hover {
	outline:3px solid rgba(255,255,255,1);
}

/* --- Single Foto --- */
.foto {
    float: left;
}

.foto img {
	width: 100%;
	vertical-align: top;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	margin-bottom: 30px;
    border: 4px solid #fff;
}

/* ---descripcion completa ----*/

.descripcion{
    width: 50%;
    margin-top: 30px;
    margin-left: 1.5em;
}

.icon-compra{
    height: 30px;
    width: 150px;
    margin: auto;
    margin-top: 2em;

}

/* Diseño del carrito de compra */

.carrito{
    background: #1a237e;
    border: 1px solid #2196F3;
    padding: .4em;
    color:#fff;
    margin: 0px 5em;
    margin-bottom: 1em;
}

.carrito:hover{
    cursor: pointer;
}

.eliminar{
    position:relative;
    top: 15px;
    padding: 2px;
    width: 30%;
    padding: 7px;
    border-radius: 4px;
    background: #D50000;
    text-decoration: none;
    color: #E8EAF6;
}

.recaptcha{
    position: fixed;
    left: 500px;
    margin: 30px;
}

.recaptcha2{
    margin-top: 30px;
}

@media(max-width: 640px){
    .descripcion{
        display: flex;
    }
    .icon-compra{
        margin: 1em 5em;
    }

}
