@import url(estilos-compra.css);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,500);
@import url(formulario.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}


/* ------- MENU DE NAVEGACION ------*/
.nav{
    position: fixed;
    width: 100%;
    background-color: #333333;
    z-index: 10;
    transition: all 500ms ease;
    -webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 3.3em;
}


.menu1{
    list-style: none;
    padding: .5em;
}

.unicode{
    background: #0B0A0A;
    border-radius: .3em;
}
.menu{
    display: inline-block;
    padding: .3em;
    color:#fff;
    position: relative;
}

.menu-rigth{
    float: right;
    margin-right: 3px;
}

.menu a{
    display: block;
    padding: .5em 1em;
    color:#706D6D;
    text-decoration: none;
}

.icon-down-dir{
    margin-left: 3px;
}

.menu-child{
    display: none;
    width: 100%;
    position: absolute;
    list-style: none;
    background: #333333;
    display: flex;
    flex-wrap: wrap;
    border-radius: .3em;
    z-index: 1;

    -webkit-box-shadow: 1px 14px 28px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 14px 28px 9px rgba(0,0,0,0.75);
    box-shadow: 1px 14px 28px 9px rgba(0,0,0,0.75);
}

.menu-rigth{
    display:inline-block;
    justify-content:flex-end;

}

.menu-link{
    padding: .2em;
    text-decoration: none;

}
.menu a:hover{
    color: #ffffff;
    transition: all 1000ms ease;
    cursor: pointer;
}

/* ----- MENU RESPONSIVE ------*/
#btn{
    -webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
    display: none;
    width: 100%;
    text-align:right;
    background-color: #333333;
    padding: 1em;
    color:#ffffff;
    border: none;
    z-index: 2;
    cursor: pointer;
}

/*slider*/

.img-slider{
    margin-top: 3.4em;
    display: -webkit-box;
    display: -webkit-block;
    display: -ms-flexbox;
    display: -ms-block;
    width: 100%;
    height: 100%;

}

/* utilidades  */

.contenedor{
    position: relative;
    z-index: 1;
    margin: 3em auto;
    text-align: center;
    width: 60%;
    padding-bottom: 1em;
    color: #fff;
    background: rgba(0,0,0,0.6);
    padding: 1em 1.5em;
    border-radius: .5em;

}

.container{
    width: 90%;
    display: flex;
    justify-content: center;
}

.img-container{
    width: 500px;
}

.uresponsiv{
    width: 100%;
    border-radius: 1em;
    display: block;
}

.uresponsiv:hover{
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
}

footer{
    width: 100%;
    margin-top: 3em;
    color: #fff;
    background: #333;
    text-align: center;
    border-top: 2em;
    padding: 1em;
    box-sizing: border-box;
    display: inline-block;;
}

.sociles i{
    padding: .4em;
    margin: .4em;
    background: #00c5b9;
    border-radius: 100%;
}

i:hover{
   background: #127770;
    transition: all 800ms ;
}

.sociles a{
    color: #fff;
}

.fa-youtube{
    color: #C3DBD5;
}

.fa-facebook{
    color: #C3DBD5;
}

.fa-twitter{
    color: #C3DBD5;
}

.copy{
    margin-right: 7px;
}
small{
    display: inline-flex;
    padding: 6px;
}


@media(max-width: 750px){
    .menu{
       display: block;

}
    .menu-child{
        width: 150px;
    }
    .nav{
       position: fixed;
       top: 3.3em;
       width: 50%;
       background: #333;
       border-right: 4px solid rgba(0,0,0,0.7) ;
       border-bottom: 4px solid rgba(0,0,0,0.7) ;
    }

    .nav2{
        position: fixed;
        top: 3.5em;
        width: 30%;
        background: #333;
        border-right: 4px solid rgba(0,0,0,0.7) ;
       border-bottom: 4px solid rgba(0,0,0,0.7) ;
    }

    .h1{
        margin-top: 80px;
    }

    .menu-child{
       position: absolute;
    }
    .menu-rigth{
        float: none;
        padding: 0;
    }
    #btn{
        position: fixed;
        display: block;
        text-align: left;
    }

    .abrir{
    transform: translateX(-150%);
    transition: all .5s ease;
    }
    .form{
        max-width: 100%;
        margin: 0px 1em;
    }

    .btn-prev, .btn-next{
        display: none;
    }

}

@keyframes slider{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
