
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
     background: #9A9898;
}
.div{
    padding: 10px;
    text-align: center;
    width: 100%;
} 

h1{
    text-align: center;
    margin: 30px 20px;
    color: #e0e0e0;
}
form{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    border-radius: 7px;
}

h2{
    color: #fff;
    margin-bottom: .7em;
    font-size: 30px;
    font-weight: 100;
}

.Form-User input:focus:invalid{
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}

.Form-User input:required:valid{
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.input{
    width: 100%;
    margin-bottom: 1em;
    padding: 7px;
    border: none;
    font-size: 17px;
    font-family: sans-serif;
    border-radius: 4px;
    border: 1px solid darkgray;
    font-weight: 90;
}

.media{
    width: 48%;
}

.btn{
    width: 25%;
    margin: auto;
    border-top: 15px;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
    background: #31384A;
    color: #fff;
    padding: 1em;
    font-weight: 100;
    cursor: pointer;
}

.btn:active{
    transform: scale(1.07);
}

.p{
    text-align: center;  
    margin: 1em;
    color: #0D47A1;
    font-family: sans-serif;
}

.p a{
    text-decoration: none;
    display: block;
    color:  #00695C;
}
.p{
    font-size: 14px;
}

.error{
    width: 90%;
    margin: auto;
    padding: .7em;
    background: rgba(255, 20, 0, 0.6);
    border-radius: 4px;
}

.enviado{
    width: 90%;
    margin: auto;
    padding: .7em;
    background: rgba(110, 255, 0, 0.6);
    border-radius: 4px;
}

@media(max-width: 480px){
    form{
        width: 90%;
    }
}