@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Economica:700);

h6{
    color: #E65100;
    margin-bottom: .8em;
    text-align:justify
    font-family: 'Rancho', cursive;
    font-size: 20px;
}

.formu{
    color: #333;
    padding: 3px;
    box-sizing: border-box;
}

.formu input{
    border: none;
    background: #A69F9F;
    margin-left: 24px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Rancho',  sans-serif;

}

.form{
    width: 200%;    
    background: #333;
    padding: 1em .8em;
	position: absolute;
    z-index: 1;
    border-radius: .5em;
    
    -webkit-box-shadow: 1px 14px 28px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 14px 28px 9px rgba(0,0,0,0.75);
    box-shadow: 1px 14px 28px 9px rgba(0,0,0,0.75);
}

.form input{
    width: 100%;
    padding: .4em;
    margin-bottom: 1.5em;
    font-family: 'Economica', sans-serif; 
    color: #616161;
    border-radius: 2px;
    border: none;
}

.form input:focus{
    border-radius: 2px;
}

.form .btn{
    background: #0B610B;
    margin-bottom: 2px;
    padding: .4em;
    color: #fff;
}

.btn:hover{
    background: #757575;
    transition: all 1000ms ease;
    transition-delay: 400ms;
}

